<div class="main">
    <div class="nav">
      <div class="display">
        {{"MY APP"}}
      </div>
      <div class="out">
        <button class="button" (click)="loginPage()">Logout</button>
      </div>
    </div>
          
    <button class="back" (click)="previousPage()">Back</button>
   
    <div class="login">
      <div class="head">
        
            {{head}}  
      </div>
      <div class="Sub" >
      
        {{sub}}
        
      </div>
      <div class="body">
        {{body1}}
        <div>
       
       
       
    
       <!-- <div *ngFor="let post of posts | async">
          {{post | json}}
        </div> -->
    
    
    
    </div>
